body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*///////////////////////////////////////////////////////////////////////////*/
/* test custom css HS ///////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////*/
/* Color Theme Swatches in Hex */
.custom_colour-1 {
    background-color: #305473;
}

.custom_colour-2 {
    background-color: #4B83A6;
}

.custom_colour-3 {
    background-color: #DFEDF2;
}

.custom_colour-4 {
    background-color: #69AFBF;
}

.custom_colour-5 {
    background-color: #A9D0D9;
}
/*///////////////////////////////////////////////////////////////////////////*/



.custom_panelHeadingBG {
    background-color: #305473;
}

.custom_panelBodyBG {
    background-color: #ffffff;
}
.custom_panelFooterBG {
    background-color: #DFEDF2;
}


.custom_roundedBorderAll {
    border-radius: 15px;
}

.custom_roundedBorderTop {
    border-radius: 15px 12px 0px 0px;
}

.custom_roundedBorderBottom {
    border-radius: 0px 0px 15px 15px;
}

.custom_roundedBorderLeft {
    border-radius: 15px 0px 0px 15px;
}

.custom_roundedBorderRight {
    border-radius: 0px 15px 15px 0px;
}

.custom_Font01 {
    font-family: 'M PLUS 1p', sans-serif;
    /*font-size: 18px;*/
}