@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ut ante fermentum, congue ex eleifend, hendrerit nunc. Nulla et sem consequat, porttitor mauris ac, suscipit ex. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras tristique tortor non lectus varius condimentum.

</p>
