@{
    ViewBag.Title = "Contact";
}

        <h2>@ViewBag.Title.</h2>


<h3>@ViewBag.Message</h3>

<div class="row">
    <div class="col-md-6">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus id ullamcorper ligula, non facilisis diam. Aenean eleifend est purus, in consectetur enim bibendum at. Nam ullamcorper pretium mauris. Vivamus diam odio, ullamcorper eu pharetra id, eleifend ut quam. Curabitur non placerat neque. Fusce porta sed eros sit amet bibendum. Donec a pharetra nibh. Suspendisse elit purus, laoreet vitae nisl venenatis, dignissim tristique augue. Nulla facilisi. Sed eleifend sem sed ligula ultricies dictum. Quisque risus nisl, egestas non lacus eu, lacinia volutpat est. Sed ullamcorper gravida leo. Proin pulvinar sed nisi vel pretium. Curabitur at aliquet dui, in tincidunt risus. Aliquam ut posuere dui.
            Ut maximus vehicula ullamcorper. In ornare tempus nunc vel fringilla. Maecenas non ullamcorper ligula. Etiam a tincidunt magna, nec hendrerit urna. Donec porta sem et justo viverra tincidunt. Nam sit amet maximus nibh, eu tempor quam. Vivamus blandit feugiat nisl, eget iaculis mi tempor sed. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas eget euismod lectus. Integer pharetra rhoncus lectus id mattis. Sed tincidunt eros eget velit imperdiet lobortis.
        </p>
    </div>
    <div class="col-md-6">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus id ullamcorper ligula, non facilisis diam. Aenean eleifend est purus, in consectetur enim bibendum at. Nam ullamcorper pretium mauris. Vivamus diam odio, ullamcorper eu pharetra id, eleifend ut quam. Curabitur non placerat neque. Fusce porta sed eros sit amet bibendum. Donec a pharetra nibh. Suspendisse elit purus, laoreet vitae nisl venenatis, dignissim tristique augue. Nulla facilisi. Sed eleifend sem sed ligula ultricies dictum. Quisque risus nisl, egestas non lacus eu, lacinia volutpat est. Sed ullamcorper gravida leo. Proin pulvinar sed nisi vel pretium. Curabitur at aliquet dui, in tincidunt risus. Aliquam ut posuere dui.
            Ut maximus vehicula ullamcorper. In ornare tempus nunc vel fringilla. Maecenas non ullamcorper ligula. Etiam a tincidunt magna, nec hendrerit urna. Donec porta sem et justo viverra tincidunt. Nam sit amet maximus nibh, eu tempor quam. Vivamus blandit feugiat nisl, eget iaculis mi tempor sed. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas eget euismod lectus. Integer pharetra rhoncus lectus id mattis. Sed tincidunt eros eget velit imperdiet lobortis.
        </p>
    </div>
</div>

<p>.</p>
<address>
    56 Caanan Lane<br />
   Edinburgh<br />
    <abbr title="Phone">Phone:</abbr>
    0131 536 0000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@nhslothian.scot.nhs.uk">Support@example.com</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>