@{
    ViewBag.Title = "Home Page";
}

@**@
<div class="jumbotron" style="background-color:orange">
        <div class="row">          
        <h1>Hospital Electronic Prescribing and Medicines Administration (HEPMA)</h1>
        <p class="lead">Welcome the HEPMA project website.</p>
        @*<p><a href="https://jac.net" class="btn btn-primary btn-lg">JAC HEPMA &raquo;</a></p>*@
    </div>
</div>



<div class="row">

    <div class="col-md-5">
        <img src="~/Content/images/1890503.jpg" class="img-rounded img-responsive" alt="Pharmacy" @*height="700"*@ style="opacity:0.9">
    </div>

    <div class="col-md-7">
        <h2>What is HEPMA</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus id ullamcorper ligula, non facilisis diam. Aenean eleifend est purus, in consectetur enim bibendum at. Nam ullamcorper pretium mauris. Vivamus diam odio, ullamcorper eu pharetra id, eleifend ut quam. Curabitur non placerat neque. Fusce porta sed eros sit amet bibendum. Donec a pharetra nibh. Suspendisse elit purus, laoreet vitae nisl venenatis, dignissim tristique augue. Nulla facilisi. Sed eleifend sem sed ligula ultricies dictum. Quisque risus nisl, egestas non lacus eu, lacinia volutpat est. Sed ullamcorper gravida leo. Proin pulvinar sed nisi vel pretium. Curabitur at aliquet dui, in tincidunt risus. Aliquam ut posuere dui.
        </p>
        <p>
            Ut maximus vehicula ullamcorper. In ornare tempus nunc vel fringilla. Maecenas non ullamcorper ligula. Etiam a tincidunt magna, nec hendrerit urna. Donec porta sem et justo viverra tincidunt. Nam sit amet maximus nibh, eu tempor quam. Vivamus blandit feugiat nisl, eget iaculis mi tempor sed. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas eget euismod lectus. Integer pharetra rhoncus lectus id mattis. Sed tincidunt eros eget velit imperdiet lobortis.
    </div>
</div>

<div class="row">
    <div class="row">
        <div class="col-md-6">
            <h2>How will it be rolled out.</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ut ante fermentum, congue ex eleifend, hendrerit nunc. Nulla et sem consequat, porttitor mauris ac, suscipit ex. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras tristique tortor non lectus varius condimentum.
            </p>
            <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
        </div>

        <div class="col-md-6">
            <h2>Meet the team.</h2>
            <p>
                Aliquam erat volutpat. Donec id blandit tellus. Cras vehicula blandit enim, vitae efficitur augue. Sed posuere ipsum ac elit semper ullamcorper. Nulla pellentesque lectus a lobortis tempor. Etiam at aliquet tellus, sed mollis nibh. Quisque tincidunt mauris nisl, eu suscipit eros ultricies quis.
            </p>
            <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
        </div>
    </div>
</div>
