@{
    ViewBag.Title = "Home Page";
}

@**@
<div class="jumbotron" style="background-color:orange">
        <div class="row">          
        <h1>Hospital Electronic Prescribing and Medicines Administration (HEPMA)</h1>
        <p class="lead">Welcome the HEPMA project website.</p>
        @*<p><a href="https://jac.net" class="btn btn-primary btn-lg">JAC HEPMA &raquo;</a></p>*@
    </div>
</div>



<div class="row">

    <div class="col-md-5">
        <p>.</p>
        <img src="~/Content/images/1890503.jpg" class="img-rounded img-responsive" alt="Pharmacy" @*height="700"*@ style="opacity:0.9">
    </div>

    <div class="col-md-7">
        <h2>What is HEPMA</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus id ullamcorper ligula, non facilisis diam. Aenean eleifend est purus, in consectetur enim bibendum at. Aliquam ut posuere dui.
        <p>
            <h3>Immediate benefits to the service....</h3>
        </p>
        <p>
            <ul>
                <li>The ability to access prescribing and administration records remotely, providing a more flexible ay of working for clinical staff, pharmacy staff, ICES and mental health teams</li>
                <li>Legible and complete prescriptions resulting in a reduction in transcription errors as there is no longer a requirement to write paper prescription charts</li>
                <li>Improved allergy recording</li>
                <li>Decision support for drug interactions, allergy warning and therapeutic duplicates</li>
                <li>Seamless prescribing and medicines administration record where patients are transferred between Hospital sites on the system</li>
                <li>Legible and more accurate immediate discharge letters (IDL’s)</li>
            </ul>
        </p>
        </p>
        @*<p>
            Ut maximus vehicula ullamcorper. In ornare tempus nunc vel fringilla. Maecenas non ullamcorper ligula. Etiam a tincidunt magna, nec hendrerit urna. Donec porta sem et justo viverra tincidunt. Nam sit amet maximus nibh, eu tempor quam. Vivamus blandit feugiat nisl, eget iaculis mi tempor sed. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas eget euismod lectus. Integer pharetra rhoncus lectus id mattis. Sed tincidunt eros eget velit imperdiet lobortis.
        </p>*@
    </div>
</div>

<div class="row">
    <div class="row">
        <div class="col-md-5">
            <h2>How will it be rolled out.</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ut ante fermentum, congue ex eleifend, hendrerit nunc. Nulla et sem consequat, porttitor mauris ac, suscipit ex. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras tristique tortor non lectus varius condimentum.
            </p>
            <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
        
            <h2>Meet the team.</h2>
            <p>
                Aliquam erat volutpat. Donec id blandit tellus. Cras vehicula blandit enim, vitae efficitur augue. Sed posuere ipsum ac elit semper ullamcorper. Nulla pellentesque lectus a lobortis tempor. Etiam at aliquet tellus, sed mollis nibh. Quisque tincidunt mauris nisl, eu suscipit eros ultricies quis.
            </p>
            <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-7">
            <h3>Safety benefits over time...</h3>
            <p>
                <ul>
                    <li>Reduction in omitted and delayed medicine administrations</li>
                    <li>Reduction in medication errors</li>
                    <li>Timely access and communication of accurate and legible prescribing and administration information</li>
                    <li>Allows clinical pharmacists to prioritise their workload and review patients at highest risk</li>
                    <li>Improved provision of information – ability to report on prescribing and medicines usage across hospital sites, to inform policy decisions and respond to Freedom of Information requests more easily</li>
                    <li>Provision of reports tailored to specific consultant needs, for instance, to highlight prescribing issues prior to ward round reviews</li>
                    <li>Provides a robust audit trail of real time clinical data and improved clinical accountability, improved medicines ordering and supply, improved communication, improved efficiency of the discharge prescribing process, improved compliance with formulary and clinical prescribing guidelines</li>
                </ul>
            </p>
        </div>
    </div>
</div>
