@{
    ViewBag.Title = "Home Page";
}

@* head of page image *@
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12"><img class="img-fluid" src="~/Content/images/Artboard 2.png" width="100%"/></div>
        </div>
    </div>
</div>

@* intro from Tracey Gillies *@
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="padding: 60px 10px 10px 10px;">
                <h1>Hospital Electronic Prescribing &amp; Medicines Administration</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8" style="padding: 10px 10px 10px 10px;">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam consectetur consectetur ultricies. Ut vestibulum velit tortor, quis tristique lacus porta vel. Donec tincidunt luctus venenatis. Pellentesque at tristique velit. In consequat
                    felis sed magna egestas, vitae fermentum felis maximus. Praesent laoreet faucibus lacus, et consectetur quam eleifend iaculis. Quisque bibendum urna id eros imperdiet, vel egestas augue fermentum.<br />
                </p>
                <p>
                    Aenean eros ante, ornare ut aliquet vitae, tristique ut nisi. Aenean feugiat lacus eget elit scelerisque, nec volutpat magna finibus. Quisque eleifend odio ac orci consequat, tristique placerat sapien finibus. In feugiat sagittis fermentum.
                    Aliquam laoreet placerat arcu, sit amet ultricies eros euismod eget. Cras quis suscipit orci, et mattis lacus. Phasellus rhoncus id dui sed tempor. <br />
                </p>
            </div>

            <div class="col-lg-4"><img class="img-fluid" style="width: 320px;height: 217px;" src="~/Content/images/Tracey-Gillies[1].jpg" /></div>

        </div>

    </div>
</div>

@* the case for HEPMA *@
<div class="row" style="padding: 60px 10px 0px 10px;">
    <div class="col-lg-12" style="text-align:right">
        <h2>
            The Case For HEPMA.
        </h2>
        <p>
            Medicines represent the most frequent healthcare intervention – there are approximately 34 million prescriptions and 122 million administrations of medicines per year in NHS Scotland. However, the vast majority of medicines used in hospitals are still prescribed, and their administration recorded, using a paper based chart system, and with the increasing range and complexities of medicines available, the safe and effective prescribing and administration of medicines is challenging.
        </p>
    </div>

    <div class="col-lg-5">
        <p>&nbsp;</p>
        <img src="~/Content/images/1941404.jpg" class="img-rounded img-responsive" alt="Pharmacy" style="opacity:0.9">
    </div>

    <div class="col-lg-7">
        <h2>What is HEPMA</h2>
        <p>
            HEPMA will combine three functions to provide all clinical staff with an integrated view of a patient’s medication history, through: electronic communication of a prescription or medicine order aiding the choice, administration and supply of a medicine through knowledge and decision support providing a robust audit trail for the entire medicines use process. Medicines represent the most frequent healthcare intervention; Healthcare Improvement Scotland reported that each year in an average 500 bedded acute hospital approximately 435,000 items are prescribed resulting in 2 million doses of medicine being administered to patients . Treatment with medicines saves lives, controls and cures diseases and provides symptom control. However, the majority of medicines used in hospitals are still prescribed and administered using a paper-based chart system.  The safe and effective prescribing and administration of medicines is thus limited by legibility challenges, multiple handover points, poor integration with clinical systems especially in primary care and a lack of data on medicine usage. Experience following the introduction of electronic prescribing systems in general practice over 2 decades has demonstrated improvements in quality of care, medicines utilisation and prescribing practice.
        <p>
    </div>
</div>

@* why JAC HEPMA *@
<div class="row" style="padding: 10px 10px 10px 10px;">
    <div style="text-align:left">
        <h3>
            Why JAC/WellSky HEPMA Solution
        </h3>
        <p>
            Under the current multi-supplier Framework Agreement there were only  two HEPMA solution suppliers to select from. These were suppliers that had successfully progressed through an assessment phase and had been awarded accreditation for use by Scottish health boards. The suppliers were;

            ○ JAC
            ○ EMIS

            After review by NHS Lothian, looking at ;

            ○ Functionality
            ○ Cost
            ○ Best fit

            JAC was selected as the only viable option for NHS Lothian.

        </p>
    </div>
</div>

@* benifits section *@
<div class="row">
    <div class="col-lg-6">
        <p>
            <h3>Immediate benefits to the service....</h3>
        </p>
        <p>
            <ul>
                <li>The ability to access prescribing and administration records remotely, providing a more flexible ay of working for clinical staff, pharmacy staff, ICES and mental health teams</li>
                <li>Legible and complete prescriptions resulting in a reduction in transcription errors as there is no longer a requirement to write paper prescription charts</li>
                <li>Improved allergy recording</li>
                <li>Decision support for drug interactions, allergy warning and therapeutic duplicates</li>
                <li>Seamless prescribing and medicines administration record where patients are transferred between Hospital sites on the system</li>
                <li>Legible and more accurate immediate discharge letters (IDL’s)</li>
            </ul>
        </p>
    </div>
    <div class="col-lg-6">
        <h3>Safety benefits over time...</h3>
        <p>
            <ul>
                <li>Reduction in omitted and delayed medicine administrations</li>
                <li>Reduction in medication errors</li>
                <li>Timely access and communication of accurate and legible prescribing and administration information</li>
                <li>Allows clinical pharmacists to prioritise their workload and review patients at highest risk</li>
                <li>Improved provision of information – ability to report on prescribing and medicines usage across hospital sites, to inform policy decisions and respond to Freedom of Information requests more easily</li>
                <li>Provision of reports tailored to specific consultant needs, for instance, to highlight prescribing issues prior to ward round reviews</li>
                <li>Provides a robust audit trail of real time clinical data and improved clinical accountability, improved medicines ordering and supply, improved communication, improved efficiency of the discharge prescribing process, improved compliance with formulary and clinical prescribing guidelines</li>
            </ul>
        </p>
    </div>
</div>

    <!-- page end ////////////////////////////////////////////////////////////////////////////////////////////////// -->
